﻿@model autodesk.DTO.CertifiedDTO
@{ 
}
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="cache-control" content="no-cache">
   <meta http-equiv="expires" content="0">
   <meta http-equiv="pragma" content="no-cache">
   <!-- <meta name="google" content="notranslate"> -->
   <base href="/">
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
   <!-- For UAT Environment -->
</head>
<body style="position: absolute; width: 100%; overflow: auto; height: 100%; zoom: 100%;">
   <div style="max-width: 1000px; margin: 0 auto; align-items: center; justify-content: space-around; display: flex; float: none;">
      <div id="forEditaCanvas" style="margin: 0 auto; height: 620px; align-items: center; justify-content: space-around; float: none;">
        @*@Html.Raw(Model.decodedString)*@
         
      </div>
   </div>
   @*<script src="assets/jquery-1.11.1.min.js"></script>
      <script>
         var zoom = document.documentElement.clientWidth / window.innerWidth;
         $(window).resize(function () {
            var zoomNew = document.documentElement.clientWidth / window.innerWidth;
            if (zoom != zoomNew) {
               // zoom has changed
               // adjust your fixed element
               zoom = zoomNew
            }
         });
         document.body.style.zoom = "100%"
      </script>*@
</body>
</html>